

$main : #302a18;
$text-in : #f7b968 ;  
$box : 0px 0px 10px #ddd ;
$tra : 0.3s linear ;
$text-color : #b38b59 ;
$template-Columns :repeat(auto-fill , minmax(350px , 1fr));
$template-Columns-small :repeat(auto-fill , minmax(260px , 1fr));
$box-shadow : 0px 0px 10px #ddd;

@mixin btn {
    padding: 10px 20px ;
    text-transform: capitalize;
    background-color: $main;
    transition: all 0.3s;
    border-radius: 10px;
    color: $text-in;
    font-weight: bold;
    cursor: pointer;
    &:hover{
      transform-origin: left;
       letter-spacing: 2px;
    }
}

.cen{
  text-align: center;
}

.icons{
    display: flex;
    gap: 10px;
    i{
        background-color: #ddd;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        cursor: pointer;
        &:hover{
          transition: $tra;
          background-color: $main;
          color: $text-in;
        }
    }
    i.fa-bars ,i.fa-times{
        display: none;
    }
}


*{
    box-sizing: border-box;
    text-transform:capitalize;
}

body{
    margin: 0%;
    padding: 0%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

html{
    scroll-behavior: smooth;
}

.container{
    width: 90%;
    margin: auto;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}




// Header


.header{
  background-color: $text-in;
    box-shadow: $box;
    padding: 10px 0px;
    position: sticky;
    top: 0px;
    .container{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        .logo{
            width: 150px;
            height: 80px;
            img{
                width: 100%;
                height: 80px;
            }
        }
        ul{
          margin: 0%;
          padding: 0%;
          height: 40px;
            display: flex;
            align-items: center;
            gap: 15px;
            li{
                a{
                    color: white;
                    border-radius: 5px;
                    padding: 10px 15px;
                    &:hover{
                        background-color: $main;
                        color: $text-in;
                        transition:$tra;
                    }  
                }
            }
        }
    }
    .black{
      transform: translateY(-100%);
      transition: $tra;
      position: fixed;
      width: 100%;
      height: 100%;
      background-color:$main;
      opacity: 0.6;
      top: 0;
      form{
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        gap: 5px;
        justify-content: center;
        align-items: center;
        input{
          width: 320px;
          padding: 10px 0px;
          border: none;
          background-color: $main;
          outline: none;
          caret-color: white;
          border-bottom: 1px solid white;
          color: white;
          font-size: 20px;
          &::placeholder{
            color: white;
            font-size: 20px;
          }
        }
        i{
          color: white;
          font-size: 25px;
          cursor: pointer;
        }
      }
      i.fa-times{
        color: white;
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 40px;
        cursor: pointer;
      }
    }
}

@media (max-width: 950px) {
    .header {
      .container {
        i.fa-bars , i.fa-times{
          display: flex;
        }
        ul {
          transform: translateX(100%);
          margin: 0%;
          padding: 0%;
          flex-direction: column;
          position: fixed;
          top: 100px;
          right: 0;
          height: calc(100vh - 90px);
          background-color: $main;
          width: 250px;
          li {
            width: 100%;
            a {
              color: white;
              display: block;
              width: 100%;
              padding: 10px 20px;
              &:hover{
                transition: $tra;
                background-color:white ;
                color: black;
                border-radius: 0px;
              }
            }
          }
        }
      }
    }
  }
  
  .translate {
    transform: translateX(0%) !important;
  }
  
  .trans {
      transition:  $tra !important  ;
  }
  
  @media (min-width: 950.1px) {
    .trans {
      transition: none !important;
    }
  }

  .vertical{
    transform: translateY(0%) !important;
  }

  @media (max-width:440px){
    .header{
.black{
  form{
    flex-direction: column;
    input{
      width: 260px;
    }
    i{
      // margin-top: 30px;
      padding:  20px;
      background-color: $text-color;
      border-radius: 50%;
      display: block;
      transform: translateY(30px);
    }
  }
}
    }
  }

  // Header

  // Home
body{
  position: relative;
  z-index: -4;
}

  #root{
    position: relative;
    z-index: -3;
  }
  
  .app{
      z-index: -2;
      position: relative;
  }

  .home {
    padding-bottom: 50px;
    z-index: -1;
    position: relative;
    .container {
      padding-top: 30px;
      .slick-arrow {
        display: none !important;
      }
      .slick-dots {
        display: flex !important;
        justify-content: space-between;
        bottom: -7%;
        left: 50%;
        width: 120px;
        transform: translateX(-50%);
        li {
          button {
            display: block;
            width: 20px;
            height: 20px;
            border: 1px solid #333;
            border-radius: 50%;
            position: relative;
  
            &::before {
              position: absolute;
              content: "";
              top: 50%;
              left: 50%;
              border-radius: 50%;
              width: 10px;
              height: 10px;
              transform: translate(-50%, -50%);
              background-color: $main;
            }
          }
  
 

          &.slick-active {
            button::before {
              background-color: $text-in;
            }
          }
        }
      }
      .box {
        display: flex !important ;
        justify-content: space-between;
        align-items: center;
        z-index: 0;
        .con {
          width: 50%;
          h3{
            color: $text-color;
          }
          h1 {
            width: 240px;
            color: $main;
            margin: 0%;
          }
          p{
            color: #999;
          }
          button {
            @include btn()
          }
        }
        .img {
          width: 360px;
          height: 360px;
          img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
          }
        }
      }

    }
  }
  
  @media (max-width: 700px) {
    .home {
      .box {
        flex-direction: column;
        .con {
          order: 2;
          width: 100% !important;
        }
      }
    }
  }
  @media (max-width: 440px) {
    .home {
      .container{
        .slick-slide{
          .box {
            .img{
              width: 260px;
              height: 260px;
            }
          }
        }
      }
    }
  }

  // Home

  .app{
    height: 300000px;
  }
  // Dishes

.dishes{
z-index: -2;
position: relative;
  background-color: #ddd;
  padding-bottom: 30px;
  & > h2{
    padding: 20px 0px;
    color: $text-in;
    margin: 0%;
  }
  h1{
    margin: 0%;
    color: $text-color;
  }
  .container{
    padding-top: 40px;
    display: grid;
    grid-template-columns: $template-Columns;
    gap: 20px;
    z-index: -1;
    position: relative;
    .box{
      position: relative;
      text-align: center;
      box-shadow: 0px 0px 10px white;
      background-color: white;
      padding: 20px;
      overflow: hidden;
      h2{
        color: $text-color;
      }
      h3{
        color: $text-in;
      }
      .img{
        img{
          width: 160px;
          height: 160px;
          border-radius: 50%;
        }
      }
      i{
        color: $text-in;
      }
      .flex{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        transition: $tra;
        transform: translateY(120%);
        button{
          @include btn() ;
          transition: $tra;
          transform: translateX(400px);
        }
        h3{
          transition: $tra;
          transform: translateX(-400px);
        }
      }
      &:hover{
        .flex{
          transform: translateY(0%);
          h3,button{
            transform: translateX(0px);
          }
        }
      }
    }
  }
}


@media (max-width: 440px) {
  .dishes {
    .container{
      grid-template-columns: $template-Columns-small ;
    }
  }
}


  // Dishes

  // About

  .about {
    h2{
      color: $text-in;
    }
    h1{
      color: $text-color;
    }
    .container {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 20px;
      .img {
        flex: 1 400px;
        img {
          width: 100%;
          height: 500px;
        }
      }
      .con {
        flex: 1 1 400px;
        h2 {
          color: $text-color;
        }
        p {
          color: #999;
        }
        button {
          @include btn();
        }
        .all {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          gap: 10px;
          .go {
            flex: 1 1 200px;
            height: 150px;
            border: 1px solid #ddd;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 15px;
            i {
              color: $text-in;
              cursor: pointer;
              font-size: 25px;
            }
          }
        }
        button{
          margin-top: 20px;
        }
      }
    }
  }

  // About

  // Menu

.menu{
    z-index: -2;
    position: relative;
      background-color: #ddd;
      padding-bottom: 30px;
      & > h2{
        padding: 20px 0px;
        color: $text-in;
        margin: 0%;
      }
      h1{
        margin: 0%;
        color: $text-color;
      }
      .container{
        padding-top: 40px;
        display: grid;
        grid-template-columns: $template-Columns;
        gap: 20px;
        z-index: -1;
        position: relative;
        .box{
          position: relative;
          // text-align: center;
          box-shadow: 0px 0px 10px white;
          background-color: white;
          padding: 20px;
          overflow: hidden;
          h2{
            color: $text-color;
          }
          h3{
            color: $text-in;
          }
          .img{
            img{
              width: 100%;
              height: 250px;
              border-radius: 10px;
            }
          }
          i{
            margin-top: 10px;
            color: $text-in;
          }
          .flex{
    
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 20px;
            button{
              @include btn() ;
            }
            h3{

              order: 2;
            }
          }
          &:hover{
            .flex{
              transform: translateY(0%);
              h3,button{
                transform: translateX(0px);
              }
            }
          }
        }
      }
    }
    
    @media (max-width: 440px) {
      .menu {
        .container{
          grid-template-columns: $template-Columns-small ;
        }
      }
    }


  // Menu


  // Review

.review {
  position: relative;
  z-index: -2;
  & > h2{
    color: $text-in;
  }
  h1{
    color: $text-color;
  }
  .container {
    z-index: -1;
    position: relative;
    .slick-slide > div {
      margin: 0px 10px;
    }
    .slick-arrow {
      display: none !important;
    }
    .box {
      box-shadow: $box-shadow;
      padding: 20px;
      border: 1px solid #ddd;
      p {
        color: #999;
      }
      .flex{
        display: flex;
        align-items: center;
        justify-content: space-between;
        .flex-in{
          display: flex;
          align-items: center;
          gap: 20px;
          img{
            width: 80px ;
            height: 80px;
            border-radius: 50%;
          }
          .con{
            h2{
              margin: 0%;
              color: $text-color;
            }
            i{
              color: $text-in;
            }
          }
        }
        i.fa-quote-right{
          font-size: 50px;
          color: $main;
        }
      }
      
    }
      
    }
  }


@media (max-width: 400px) {
  .review {
    .container {
      grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
      .box{
        .flex{
          align-items: flex-start;
          .flex-in{
            flex-direction: column;
          }
        }
      }
    }
  }
}

// Review