.icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}
.icons i {
  background-color: #ddd;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
  cursor: pointer;
}
.icons i:hover {
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
  background-color: #302a18;
  color: #fde4c3;
}
.icons i.fa-bars, .icons i.fa-times {
  display: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0%;
  padding: 0%;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

html {
  scroll-behavior: smooth;
}

.container {
  width: 90%;
  margin: auto;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.app {
  height: 2000px;
}

.header {
  background-color: #fde4c3;
  -webkit-box-shadow: 0px 0px 10px #ddd;
          box-shadow: 0px 0px 10px #ddd;
  padding: 10px 0px;
  position: sticky;
  top: 0px;
}
.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.header .container .logo {
  width: 150px;
  height: 80px;
}
.header .container .logo img {
  width: 100%;
  height: 80px;
}
.header .container ul {
  margin: 0%;
  padding: 0%;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
  z-index: 500;
}
.header .container ul li a {
  color: #999;
  border-radius: 5px;
  padding: 10px 15px;
}
.header .container ul li a:hover {
  background-color: #302a18;
  color: #fde4c3;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}
.header .black {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #302a18;
  opacity: 0.6;
  top: 0;
}
.header .black form {
  position: relative;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .black form input {
  width: 280px;
  padding: 10px 0px;
  border: none;
  background-color: #302a18;
  outline: none;
  caret-color: white;
  border-bottom: 1px solid white;
  color: white;
  font-size: 20px;
}
.header .black form input::-webkit-input-placeholder {
  color: white;
  font-size: 20px;
}
.header .black form input::-moz-placeholder {
  color: white;
  font-size: 20px;
}
.header .black form input:-ms-input-placeholder {
  color: white;
  font-size: 20px;
}
.header .black form input::-ms-input-placeholder {
  color: white;
  font-size: 20px;
}
.header .black form input::placeholder {
  color: white;
  font-size: 20px;
}
.header .black form i {
  color: white;
  font-size: 25px;
  cursor: pointer;
}
.header .black i.fa-times {
  color: white;
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 40px;
  cursor: pointer;
}

@media (max-width: 950px) {
  .header .container i.fa-bars, .header .container i.fa-times {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header .container ul {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    margin: 0%;
    padding: 0%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: fixed;
    top: 100px;
    right: 0;
    height: calc(100vh - 90px);
    background-color: #302a18;
    width: 250px;
  }
  .header .container ul li {
    width: 100%;
  }
  .header .container ul li a {
    color: white;
    display: block;
    width: 100%;
    padding: 10px 20px;
  }
  .header .container ul li a:hover {
    -webkit-transition: 0.3s linear;
    transition: 0.3s linear;
    background-color: white;
    color: black;
    border-radius: 0px;
  }
}
.translate {
  -webkit-transform: translateX(0%) !important;
          transform: translateX(0%) !important;
}

.trans {
  -webkit-transition: 0.3s linear !important;
  transition: 0.3s linear !important;
}

@media (min-width: 950.1px) {
  .trans {
    -webkit-transition: none !important;
    transition: none !important;
  }
}
.vertical {
  -webkit-transform: translateY(0%) !important;
          transform: translateY(0%) !important;
}

.home {
  padding-bottom: 50px;
}
.home .container {
  padding-top: 30px;
}
.home .container .slick-list {
  z-index: -1;
}
.home .container .slick-arrow {
  display: none !important;
}
.home .container .slick-dots {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  bottom: -7%;
  left: 50%;
  width: 120px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.home .container .slick-dots li button {
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid #333;
  border-radius: 50%;
  position: relative;
}
.home .container .slick-dots li button::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.home .container .slick-dots li.slick-active button::before {
  background-color: #302a18;
}
.home .container .box {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.home .container .box .con {
  width: 50%;
}
.home .container .box .con h3 {
  color: #b38b59;
}
.home .container .box .con h1 {
  width: 240px;
  color: #302a18;
  margin: 0%;
}
.home .container .box .con p {
  color: #999;
}
.home .container .box .con button {
  padding: 10px 30px;
  text-transform: capitalize;
  background-color: #302a18;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 10px;
  color: #fde4c3;
  font-weight: bold;
  cursor: pointer;
}
.home .container .box .con button:hover {
  letter-spacing: 2px;
}
.home .container .box .img img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

@media (max-width: 700px) {
  .home .box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .home .box .con {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 100% !important;
  }
}