.cen {
  text-align: center;
}

.icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}
.icons i {
  background-color: #ddd;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
  cursor: pointer;
}
.icons i:hover {
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
  background-color: #302a18;
  color: #f7b968;
}
.icons i.fa-bars, .icons i.fa-times {
  display: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-transform: capitalize;
}

body {
  margin: 0%;
  padding: 0%;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

html {
  scroll-behavior: smooth;
}

.container {
  width: 90%;
  margin: auto;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.header {
  background-image: url("/public/images/bg.jpg");
  background-position: right;
  background-color: #f7b968;
  -webkit-box-shadow: 0px 0px 10px #ddd;
          box-shadow: 0px 0px 10px #ddd;
  padding: 10px 0px;
  position: sticky;
  top: 0px;
  z-index: 1000;
}
.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.header .container .logo {
  width: 150px;
  height: 80px;
}
.header .container .logo img {
  width: 100%;
  height: 80px;
}
.header .container ul {
  margin: 0%;
  padding: 0%;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}
.header .container ul li a {
  color: #b38b59;
  border-radius: 5px;
  padding: 10px 15px;
}
.header .container ul li a:hover {
  background-color: #302a18;
  color: #f7b968;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}
.header .black {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #302a18;
  opacity: 0.6;
  top: 0;
}
.header .black form {
  position: relative;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .black form input {
  width: 320px;
  padding: 10px 0px;
  border: none;
  background-color: #302a18;
  outline: none;
  caret-color: white;
  border-bottom: 1px solid white;
  color: white;
  font-size: 20px;
}
.header .black form input::-webkit-input-placeholder {
  color: white;
  font-size: 20px;
}
.header .black form input::-moz-placeholder {
  color: white;
  font-size: 20px;
}
.header .black form input:-ms-input-placeholder {
  color: white;
  font-size: 20px;
}
.header .black form input::-ms-input-placeholder {
  color: white;
  font-size: 20px;
}
.header .black form input::placeholder {
  color: white;
  font-size: 20px;
}
.header .black form i {
  color: white;
  font-size: 25px;
  cursor: pointer;
}
.header .black i.fa-times {
  color: white;
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 40px;
  cursor: pointer;
}

@media (max-width: 950px) {
  .header .container i.fa-bars, .header .container i.fa-times {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header .container ul {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    margin: 0%;
    padding: 0%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: fixed;
    top: 100px;
    right: 0;
    height: calc(100vh - 90px);
    background-color: #302a18;
    width: 250px;
  }
  .header .container ul li {
    width: 100%;
  }
  .header .container ul li a {
    color: white;
    display: block;
    width: 100%;
    padding: 10px 20px;
  }
  .header .container ul li a:hover {
    -webkit-transition: 0.3s linear;
    transition: 0.3s linear;
    background-color: white;
    color: black;
    border-radius: 0px;
  }
}
.translate {
  -webkit-transform: translateX(0%) !important;
          transform: translateX(0%) !important;
}

.trans {
  -webkit-transition: 0.3s linear !important;
  transition: 0.3s linear !important;
}

@media (min-width: 950.1px) {
  .trans {
    -webkit-transition: none !important;
    transition: none !important;
  }
}
.vertical {
  -webkit-transform: translateY(0%) !important;
          transform: translateY(0%) !important;
}

@media (max-width: 440px) {
  .header .black form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header .black form input {
    width: 260px;
  }
  .header .black form i {
    padding: 20px;
    background-color: #b38b59;
    border-radius: 50%;
    display: block;
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
}
body {
  position: relative;
  z-index: -4;
}

#root {
  position: relative;
  z-index: -3;
  min-height: 100vh;
}

.app {
  z-index: -2;
  position: relative;
}

.home {
  padding-bottom: 50px;
  z-index: -1;
  position: relative;
}
.home .container {
  padding-top: 30px;
}
.home .container .slick-arrow {
  display: none !important;
}
.home .container .slick-dots {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  bottom: -7%;
  left: 50%;
  width: 120px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.home .container .slick-dots li button {
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid #333;
  border-radius: 50%;
  position: relative;
}
.home .container .slick-dots li button::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #302a18;
}
.home .container .slick-dots li.slick-active button::before {
  background-color: #f7b968;
}
.home .container .box {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 0;
}
.home .container .box .con {
  width: 50%;
}
.home .container .box .con h3 {
  color: #b38b59;
}
.home .container .box .con h1 {
  width: 240px;
  color: #302a18;
  margin: 0%;
}
.home .container .box .con p {
  color: #999;
}
.home .container .box .con button {
  padding: 10px 20px;
  text-transform: capitalize;
  background-color: #302a18;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 10px;
  color: #f7b968;
  font-weight: bold;
  cursor: pointer;
}
.home .container .box .con button:hover {
  -webkit-transform-origin: left;
          transform-origin: left;
  letter-spacing: 2px;
}
.home .container .box .img {
  width: 360px;
  height: 360px;
}
.home .container .box .img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

@media (max-width: 700px) {
  .home .box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .home .box .con {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 100% !important;
  }
}
@media (max-width: 440px) {
  .home .container .slick-slide .box .img {
    width: 260px;
    height: 260px;
  }
}
.desert {
  z-index: -2;
  position: relative;
  background-color: #ddd;
  padding-bottom: 30px;
}
.desert > h2 {
  padding: 20px 0px;
  color: #f7b968;
  margin: 0%;
}
.desert h1 {
  margin: 0%;
  color: #b38b59;
}
.desert .container {
  padding-top: 40px;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 20px;
  z-index: -1;
  position: relative;
}
.desert .container .box {
  position: relative;
  text-align: center;
  -webkit-box-shadow: 0px 0px 10px white;
          box-shadow: 0px 0px 10px white;
  background-color: white;
  padding: 20px;
  overflow: hidden;
}
.desert .container .box h2 {
  color: #b38b59;
}
.desert .container .box h3 {
  color: #f7b968;
}
.desert .container .box .img img {
  width: 160px;
  height: 160px;
  border-radius: 50%;
}
.desert .container .box i {
  color: #f7b968;
}
.desert .container .box .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}
.desert .container .box .flex button {
  padding: 10px 20px;
  text-transform: capitalize;
  background-color: #302a18;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 10px;
  color: #f7b968;
  font-weight: bold;
  cursor: pointer;
}
.desert .container .box .flex button:hover {
  -webkit-transform-origin: left;
          transform-origin: left;
  letter-spacing: 2px;
}

@media (max-width: 440px) {
  .dishes .container {
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  }
}
.about h2 {
  color: #f7b968;
}
.about h1 {
  color: #b38b59;
}
.about .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
}
.about .container .img {
  -webkit-box-flex: 1;
      -ms-flex: 1 400px;
          flex: 1 400px;
}
.about .container .img img {
  width: 100%;
  height: 500px;
}
.about .container .con {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 400px;
          flex: 1 1 400px;
}
.about .container .con h2 {
  color: #b38b59;
}
.about .container .con p {
  color: #999;
}
.about .container .con button {
  padding: 10px 20px;
  text-transform: capitalize;
  background-color: #302a18;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 10px;
  color: #f7b968;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 20px;
}
.about .container .con button:hover {
  -webkit-transform-origin: left;
          transform-origin: left;
  letter-spacing: 2px;
}
.about .container .con .all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 10px;
}
.about .container .con .all .go {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 200px;
          flex: 1 1 200px;
  height: 150px;
  border: 1px solid #ddd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}
.about .container .con .all .go i {
  color: #f7b968;
  cursor: pointer;
  font-size: 25px;
}
.about .container .con button {
  margin-top: 20px;
}

.menu {
  z-index: -2;
  position: relative;
  background-color: #ddd;
  padding-bottom: 30px;
}
.menu > h2 {
  padding: 20px 0px;
  color: #f7b968;
  margin: 0%;
}
.menu h1 {
  margin: 0%;
  color: #b38b59;
}
.menu .container {
  padding-top: 40px;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 20px;
  z-index: -1;
  position: relative;
}
.menu .container .box {
  position: relative;
  -webkit-box-shadow: 0px 0px 10px white;
          box-shadow: 0px 0px 10px white;
  background-color: white;
  padding: 20px;
  overflow: hidden;
}
.menu .container .box h2 {
  color: #b38b59;
}
.menu .container .box h3 {
  color: #f7b968;
}
.menu .container .box .img img {
  width: 100%;
  height: 250px;
  border-radius: 10px;
}
.menu .container .box i {
  margin-top: 10px;
  color: #f7b968;
}
.menu .container .box .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
.menu .container .box .flex button {
  padding: 10px 20px;
  text-transform: capitalize;
  background-color: #302a18;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 10px;
  color: #f7b968;
  font-weight: bold;
  cursor: pointer;
}
.menu .container .box .flex button:hover {
  -webkit-transform-origin: left;
          transform-origin: left;
  letter-spacing: 2px;
}
.menu .container .box .flex h3 {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}
.menu .container .box:hover .flex {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}
.menu .container .box:hover .flex h3, .menu .container .box:hover .flex button {
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
}

@media (max-width: 440px) {
  .menu .container {
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  }
}
.review {
  position: relative;
  z-index: -2;
  padding-bottom: 40px;
}
.review > h2 {
  color: #f7b968;
}
.review h1 {
  color: #b38b59;
}
.review .container {
  z-index: -1;
  position: relative;
}
.review .container .slick-slide > div {
  margin: 0px 10px;
}
.review .container .slick-arrow {
  display: none !important;
}
.review .container .box {
  -webkit-box-shadow: 0px 0px 10px #ddd;
          box-shadow: 0px 0px 10px #ddd;
  padding: 20px;
  border: 1px solid #ddd;
}
.review .container .box p {
  color: #999;
}
.review .container .box .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.review .container .box .flex .flex-in {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
.review .container .box .flex .flex-in img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.review .container .box .flex .flex-in .con h2 {
  margin: 0%;
  color: #b38b59;
}
.review .container .box .flex .flex-in .con i {
  color: #f7b968;
}
.review .container .box .flex i.fa-quote-right {
  font-size: 50px;
  color: #302a18;
}

@media (max-width: 400px) {
  .review .container {
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  }
  .review .container .box .flex {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .review .container .box .flex .flex-in {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.order {
  padding: 20px 0px;
  background-color: #ddd;
}
.order h2 {
  color: #f7b968;
  margin-top: 0px;
}
.order h1 {
  color: #b38b59;
}
.order .container form {
  width: 100%;
  background-color: white;
  padding: 20px 0px;
}
.order .container form .all {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}
.order .container form .all .col .part {
  padding: 0px 20px;
}
.order .container form .all .col .part h3 {
  color: #b38b59;
}
.order .container form .all .col .part input, .order .container form .all .col .part textarea {
  width: 100%;
  background-color: #ddd;
  outline: none;
  border: none;
  resize: none;
  overflow: hidden;
}
.order .container form .all .col .part input::-webkit-input-placeholder, .order .container form .all .col .part textarea::-webkit-input-placeholder {
  text-transform: lowercase;
  -webkit-transform: translateX(20px);
          transform: translateX(20px);
  color: #302a18;
}
.order .container form .all .col .part input::-moz-placeholder, .order .container form .all .col .part textarea::-moz-placeholder {
  text-transform: lowercase;
  transform: translateX(20px);
  color: #302a18;
}
.order .container form .all .col .part input:-ms-input-placeholder, .order .container form .all .col .part textarea:-ms-input-placeholder {
  text-transform: lowercase;
  transform: translateX(20px);
  color: #302a18;
}
.order .container form .all .col .part input::-ms-input-placeholder, .order .container form .all .col .part textarea::-ms-input-placeholder {
  text-transform: lowercase;
  transform: translateX(20px);
  color: #302a18;
}
.order .container form .all .col .part input::placeholder, .order .container form .all .col .part textarea::placeholder {
  text-transform: lowercase;
  -webkit-transform: translateX(20px);
          transform: translateX(20px);
  color: #302a18;
}
.order .container form .all .col .part input {
  padding: 10px 0px;
}
.order .container button {
  padding: 10px 20px;
  text-transform: capitalize;
  background-color: #302a18;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 10px;
  color: #f7b968;
  font-weight: bold;
  cursor: pointer;
  margin-top: 20px;
  width: 150px;
  margin: 20px auto;
  display: block;
}
.order .container button:hover {
  -webkit-transform-origin: left;
          transform-origin: left;
  letter-spacing: 2px;
}

@media (max-width: 750px) {
  .order .container form .all {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}
.footer {
  background-color: #f7b968;
  background-image: url("/public/images/bg.jpg");
  background-size: cover;
}
.footer .container {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
.footer .container .col h2 {
  color: #b38b59;
}
.footer .container .col p {
  color: #302a18;
  font-weight: bold;
}
.footer .container ul {
  margin: 0%;
  padding: 0%;
}
.footer .container ul li {
  padding: 6px 0px;
}
.footer .container ul li a {
  color: #302a18;
  font-weight: bold;
}
.footer h3.cen {
  margin-top: 10px;
  border-top: 2px solid #f7b968;
  padding: 20px 0px;
  color: #b38b59;
}

@media (max-width: 420px) {
  .footer .container {
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  }
}
.loader {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0%;
  left: 0%;
  background-color: white;
  z-index: 2000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}